// Colors
$color-gray: #f6f5f1;
// $color-gray-1: #f6f5f1;
$color-gray-2: #979797;
$color-gray-3: #8b9daa;
$color-gray-4: #35434d;
$color-gray-5: #90a4b3;
$color-gray-6: #939a9e;
$color-gray-7: #263847;
$color-dark: #243746;
$color-dark-2: #1b1b21;
$color-white: #fff;
$color-light-yellow: #bd9b5e;
$color-light-yellow-1: #a58955;
$color-light-yellow-2: #ba995d;
$color-light-yellow-3: #bd9b5e;
$color-light-gray: #545051;
$color-light-gray-1: #e2decb;
$color-light-gray-2: #bd9b5e;

//background color
$bg-black: #000;
$bg-white: #ffff;
$bg-dark: #161d23;
$bg-dark-1: #243746;
$bg-dark-2: #162027;
$bg-gray: #979797;
$bg-gray-1: #8b9daa;
$bg-gray-2: #35434d;
$bg-gray-3: #f6f5f1;
$bg-gray-4: #bfc9cf;
$bg-gray-5: #f2f1efb8;
$bg-gray-6: #90a4b3;
$bg-gray-7: #edecea;
$bg-gray-8: #7c8f9c;
$bg-theme-yellow: #c1a269;
$bg-light-yellow: #bd9b5e;
$bg-light-yellow-1: #d2bd95;
$bg-light-yellow-2: #ae8f58;
$bg-light-yellow-3: #a78a56;
$bg-light-yellow-4: #dbcbab;
$bg-light-yellow-5: #716952;
$bg-light-yellow-6: #90794f;

//border color
$border-dark: #161d23;
$border-dark-1: #312e24;
$border-dark-2: #35434d;
$border-dark-3: #0d1b23;
$border-dark-4: #2f3e4a;
$border-dark-5: #7c7d76;
$border-gray: #35434d;
$border-gray-1: #90a4b3;
$border-gray-2: #a5b4bf;
$border-gray-3: #e2decb;
$border-gray-4: #62717c;
$border-light-yellow: #bd9b5e;
$border-light-yellow-1: #978257;
$border-light-yellow-2: #877855;
$border-light-yellow-3: #d8c7a680;
$border-light-yellow-4: #d7c5a1;
$border-light-yellow-5: #ae8f58;
$border-light-yellow-6: #b7975d;
$border-light-yellow-7: #cfb88d;
$border-dark-theme: #615235;
$border-dark-theme-1: #a68d5e;

// Font Family
$font-GothamSSm: "GothamSSm";
$font-PyrusSigils: "PyrusSigils";
$font-Elan: "Elan ITC Std";

//Gradient
$dark-gradient: linear-gradient(0deg, #161d23 11%, rgba(36, 55, 70, 0) 51%);
